@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #4b4343;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.section1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    height: 369px;
    font-style: normal;
}

.section1-content h1 {
    font-size: 38px;
    color: #333;
    font-weight: 500;
    letter-spacing: 1.6px;
    margin-top: 43px;
    flex: 1;
}

.section1-content p {
    font-size: 16px;
    font-weight: 400;
    color: #A0AEC0;
    margin-top: 20px;
    flex: 1;
}

.content_email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 12px 45px 0;
    flex: 2;
}

.email {
    width: 250px;
    height: 45px;
    padding: 10px 24px;
    border: 1px solid #A0AEC0;
    background-color: #EFEFEF;
    border-radius: 5px;
    color: #A0AEC0;
    margin: 10px;
    font-weight: bold;
    font-size: 0.75em;
}

.email::placeholder {
    color: #A0AEC0;
    font-size: 12px;
}

.content_email input[type="email"]:focus {
    border: 1px solid #03D6F3;
}

.content_email button {
    width: 156px;
    height: 45px;
    border-radius: 40px;
    background-color: #03D6F3;
    color: #fff;
    box-shadow: 3px 6px 11px 0 #A0AEC0;
}

.content_email button:hover {
    color: #03D6F3;
    background-color: #fff;
    border: 1px solid #03D6F3;
}

.section2-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D3748;
    height: 330px;
    color: #fff;
    gap: 73px;
    padding-right: 12px;
}

#map_content img {
    width: 296px;
    border-radius: 24px;
}

#map_content {
    /* margin-left: 36px;
    margin-right: 80px; */
}

.left_content {
    display: flex;
    flex-direction: column;
    gap: 58px;
    /* margin: 0 39px 5px 0; */
    
}

.left_content-top {
    display: flex;
    gap: 60px;
    font-size: 14px;
    /* margin-top: 10px; */
}

.left_content-top--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 8px;
}

.caption {
    font-size: 10px;
    margin-left: 12px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.right_content {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.right_content i {
    font-size: 30px;
}

.address i {
    font-size: 32px;
}

.address, .phone {
    display: flex;
    align-items: center;
}
.phone {
    gap: 10px;
}

.address {
    gap: 15px;
}

.address span, .phone span {
    font-size: 0.9em;
}

.social {
    font-size: 1.13em;
    display: flex;
    gap: 30px;
    padding-top: 12px;
}



